/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Quicksand', sans-serif; */

:root {
	/* Portfolio Colors */
	--color-primary: #f45d48;
	--color-primary-light: #f37a6a;
	--color-secondary: #232323;
	--color-secondary-light: #222525;
	--white: #fffffe;
	--light: #f8f5f2;
	--box-shadow: #2d313d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
}
body {
	background-color: var(--light);
}

/* 
==========================
[Button] Style
==========================
*/
.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: var(--white);
	width: auto;
	height: auto;
	padding: .5rem 2rem;
	border: 1px solid var(--color-primary-light);
	border-radius: 0.3rem;
	cursor: pointer;
	background-image: linear-gradient(
		180deg,
		var(--color-primary-light) 10%,
		var(--color-primary) 45%
	);
	box-shadow: 0 0 2px -1px var(--box-shadow),
		0 2px 9px -5px var(--box-shadow);
	transition: .2s;
}
.btn:hover {
	opacity: .9;
}
